html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    /* Perhaps make img darker*/
    background: url("../img/website/ocean.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color: #0000EE;/*
    color: rgb(0, 175, 250);*/
}

main {
    min-height: 100%;
    position: relative;
}

#headerDiv {
    display: flex;
    margin-left: 21%;
    z-index: 20;
}

#logoType {
    height: 90px;
    margin-top: 1%;
    margin-right: 4%;
}

#headerTxt {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1%;
    margin-bottom: 3%;
}

#headerHeader {
    font-size: 36px;
    font-weight: bold;
}

#headerHeadings {
    font-size: 28px;
    font-weight: bold;
}

#mainSection {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 30, 120);
}

#darkFilter{
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
    position: absolute;
    display: block;
}

#menu {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-bottom: 2px solid gray;
}

#menu a {
    color: #0000EE;
}

#menu a:visited  {
    color: #0000EE;
}



.menuItem {
    padding: 15px;
}

#content {
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
    overflow: auto;
}

#content h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 85px;
}

/*
Table styling:
*/

.tableHeader {
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    font-weight: bold;
}

td, th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: rgb(0, 30, 120);
    color: white;
}

tr:nth-child(even) > td > a{
    color: rgb(230, 230, 255);
}

.authorImgDiv {
    margin-bottom: 65px;
    display: grid;
    grid-template-columns: auto auto;
}

.authorImg {
    grid-column-start: 1;
    width: 225px;
}

.authorImgTxt {
    grid-column-start: 2;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 0px;
}

.YTVID {/*
    height 56 % of width*/
    width: 400px;
    height: 224px;
}

.bigBookImg {
    width: 300px;
}

.bookSmallImgDiv {
    display: flex;
    margin-bottom: 80px;
}

.bookSmallImg {
    width: 152px;
    margin-left: 5%;
}

.bookLink {
    margin-left: 40px;
    margin-top: 40px;
    font-size: 28px;
}

.buyBook {
    width: 200px;
}

#buyOnBokus {
    float: right;
}

#bookTitle {
    text-align: left;
}

footer {
    height: 85px;
}

/*
style for menu on small screen,
html element gets appended to DOM with the
responsive.js-file
*/
.smallMenu {
    background-color: white;
    z-index: 2;
    padding-left: 15px;
    padding-top: 10px;
    height: 75px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0%;
    border-bottom: 2px solid gray;
}

/*
Div surrounding the menu icon,
element appended to DOM with js
*/
#menuIcon {
    cursor: pointer;
    margin-right: 10%;
}

/*
Opened menu on small screens, 
long height to cover entire page,
element appended to DOM with js
*/
.openMenu {
    background-color: white;
    overflow: auto;
    height: 3000px;
    width: 200px;
}

/* elements appended to DOM with js */
.menuLink {
    margin-left: 20px;
    font-size: 22px;
    margin-top: 12%;
}

/*
The bars are for menu icon on small screens,
change class toggles on/off on click,
elements appended to DOM with js
*/
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 1300px) {
    #headerHeader {
        margin-top: 10px;
        font-size: 28px;
    }

    #headerHeadings {
        font-size: 24px;
    }

    .YTVID {
        width: 325px;
        height: 182px;
    }
}

@media only screen and (max-width: 1200px) {
    html {
        background: none;
    }

    #header {
        padding-top: 85px;
        padding-bottom: 2%;
        background-image: url("../img/website/ocean2.jpeg");
        background-size: cover;
    }

    #logoType {
        margin-top: 12px;
        height: 40px;
    }

    #headerDiv {
        display: initial;
    }
    
    #headerTxt {
        color: white;
        text-align: center;
    }

    #headerHeader {
        font-size: 36px;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 0px;
    }
    
    #headerHeadings {
        margin-top: 5px;
        font-size: 28px;
    }

    #mainSection {
        width: 80%;
        overflow: auto;
        padding-bottom: 85px;
    }

    #content h1 {
        font-size: 28px;
        margin-bottom: 50px;
    }

    #content {
        font-size: 20px;
        margin-bottom: 50px;
    }

    footer {
        height: 85px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url("../img/website/ocean2.jpeg");
        background-size: cover;
    }
}

@media only screen and (max-width: 1024px) {
    #headerHeader {
        font-size: 22px;
    }
    
    #headerHeadings {
        margin-top: 5px;
        font-size: 20px;
    }

    #content h1 {
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    #content {
        font-size: 18px;
    }

    .authorImgDiv {
        display: initial;
    }

    .authorImgTxt {
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
    #headerTxt {
        font-size: 28px;
    }
    
    .authorImg {
        width: 225px;
    }

    .YTVID {
        width: 225px;
        height: 126px;
    }
}